<!DOCTYPE html>
<html>
<head>
	<!-- Material Design Lite JavaScript -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-orange.min.css" /> 
    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>Two Diagonal Figures</title>
</head>
<header>
	<div class="container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title"><a href="/">Two-Dimensional Figure Calculation</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/square">Square</a>
            <a class="mdl-navigation__link" href="/rectangle">Rectangle</a>
            <a class="mdl-navigation__link" href="/circle">Circle</a>
            <a class="mdl-navigation__link" href="/triangle">Triangle</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Yourself</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Profile</a>
          <a class="mdl-navigation__link" href="">Social</a>
          <a class="mdl-navigation__link" href="">Lifestyle</a>
          <a class="mdl-navigation__link" href="">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here --></div>
      </main>
    </div>
</div>
	</header>
<body>
	<div class="body-backpacker">
    <br><br><br><br><br><br>
    <h1>Square Area Calculate</h1>
	</div>
</body>

<style>
html { 
  background: url(https://wallpapercave.com/wp/Hd7S83Q.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	background-color: #B388FF;
	font-family: "Lucida Grande";
}

.mdl-layout__drawer {
	color: brown;
}

.body-backpacker {
  text-align: center;
}
</style>

</html>